*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #5e0abe31;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover{
    color: red;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    color: black;
    padding: 0 6%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;

}

.home-content h3 {
    margin-top: 15px;
    font-size: 35px;
    font-weight: 600;
    color: +rgb(90, 89, 89);
}

.home-content p {
    margin-top: 20px;
    font-size: 16px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-around;
    width: 170px;
    height: 50px;
    
}

.btn-box a {
    margin-top: 20px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #6767eb;
    border: 2px solid #6767eb;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box a:nth-child(1) {
    background: transparent;
    color: #6767eb;
}

.btn-box a:nth-child(1)::before {
    color: black;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}



.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    min-height: 40px;
    background: transparent;
    border: 2px solid #2424d1;
    border-radius: 50%;
    font-size: 20px;
    color: #2424d1;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-sci a:hover {
    color: #081b29;
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: darkgoldenrod;
    z-index: -1;
    transition: 0.5s;
}